<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="info">

        <div class="wrapper row1">
            <main class="hoc container clear">
                <!-- main body -->
                <!-- ################################################################################################ -->

                <h2>Информация для подключения VPN</h2>
                <p>
                    <b>Как подключить:</b><br/>
                    http://vpn.thebestsoft.ru/
                </p>
                <p>
                    <b>Адрес VPN сервера:</b><br/>
                    vpn.thebestsoft.ru
                </p>
                <p>
                    <b>Типы подключения:</b><br/>
                    PSec/IKEv2 MSCHAPv2 EAP<br/>
                    PSec/IKEv2 MSCHAPv2<br/>
                    PSec/IKEv2 EAP<br/>
                    PSec/IKEv2
                </p>
                <p>
                    <b>Пользовательские данные:</b><br/>
                    Логин: <user th:text="${user.login}"></user><br/>
                    Пароль: <user th:text="${user.password}"></user>
                </p>


                <!-- ################################################################################################ -->
                <!-- / main body -->
                <div class="clear"></div>
            </main>
        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->

    </div>

</body>
</html>